<footer class="footer">
    <div class="left">
        &copy; 2024• Aj Arns All Rights Reserved
    </div>
    <div class="right">
        <div class="social">
            <a href="#" target="_blank">
                <i class="fa-brands fa-facebook"></i>
            </a>
        </div>
        <div class="social">
            <a href="#" target="_blank">
                <i class="fa-brands fa-instagram"></i>
            </a>
        </div>
        <div class="social">
            <a href="#" target="_blank">
                <i class="fa-brands fa-twitter"></i> </a>
        </div>
        <div class="social">
            <a href="#" target="_blank">
                <i class="fa-brands fa-github"></i>
            </a>
        </div>
    </div>
</footer>
